<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>


<%= form_with(model: [@category, @product], local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<table class="table">

<tr>
  <th>Product</th>
  <th>Price</th>
  <th></th>

</tr>

<tr>
  <%@category.products.each do |product| %>

  <td><%= product.name %></td>
  <td><%= product.price %></td>
  <td><%= link_to 'Delete', category_product_path(@category , product) , method: :delete, class: "btn btn-danger btn-sm" %>
  </td>


</tr>
<% end %>




</table>
